
<div class='form-input'>
    <label for="from_username">Nom utilisateur :</label>
    <input type='text' placeholder="Votre nom d'utilisateur" name='username' id='form_username' required/>
    <p class="error-message"></p>
</div>
<div class='form-input'>
    <label for="from_mail">Mot de passe : </label>
    <input type='password' placeholder='Votre mot de passe' name='password' id="from_mail" required/>
    <p class="error-message"></p>
</div>
