<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <title>Mon bon coin</title>
</head>
<body>

<header>
    <div class="container">
        <a href="">
            <img src="/img/logo.svg" alt="logo">
        </a>
        <a href="/deposer/">
            DÉPOSER UNE ANNONCE
        </a>
        <a href="/offres/">OFFRES</a>
    </div>
</header>
    <div class="container">




<!--    les balises html, body et container sont fermées dans la partial footer -->
