<section>
    <h3>Vos informations personnels</h3>
    <div class="form-content">
        <div class='form-input'>
            <label for="from_pseudo">Pseudo :</label>
            <input type="string" name="pseudo" id="form_pseudo" value="<%= pseudo %>" placeholder="Votre pseudo"/>
            <p class="error-message">Le pseudo est obligatoire</p>
        </div>
        <div class='form-input'>
            <label for="from_mail">Email :</label>
            <input type="email" name="mail" id="form_mail" value="<%= mail %>" placeholder="Votre email"/>
            <p class="error-message">L'email est obligatoire</p>
        </div>
        <div class='form-input'>
            <label for="from_phone">Téléphone :</label>
            <input type="string" name="phone" id="form_phone" value="<%= phone %>" placeholder="Votre téléphone"/>
            <p class="error-message">Le téléphone est obligatoire</p>
        </div>
    </div>
</section>