$grey: rgb(126, 126, 126);
$orange: #f56b2a;

body {
	font-family: "Open Sans", sans-serif;
}

.btn {
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
	font-weight: bold;
	opacity: 0.9;
	background: #399ee0;
	transition: background 0.3s ease;
}

.btn:hover {
	opacity: 1;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.container {
	width: 1024px;
	margin: 0 auto;
	padding: 20px 0;
}

a {
	text-decoration: none;
}

header {
	background-color: $orange;
	color: white;
	.container {
		padding: 0;
	}
	a {
		display: inline-block;
		padding-right: 20px;
		color: white;
		line-height: 60px;
		font-weight: 700;
		&:hover {
			text-decoration: underline;
		}
		img {
			width: 140px;
		}
		&.connexion {
			float: right;
			transition: 0.5s ease;
			padding-left: 20px;
			border-left: 1px solid white;
			border-right: 1px solid white;
			&:hover {
				background-color: white;
				color: $orange;
				text-decoration: underline;
			}
		}
	}
}

form {
	font-size: 13px;
	line-height: 19px;
	width: 100%;
	section {
		margin-bottom: 50px;
		border: 1px solid $grey;
	}
	h3 {
		background-color: $grey;
		font-weight: bolder;
		color: white;
		padding: 10px;
	}
	.form-content {
		padding: 10px;
		img {
			display: block;
			max-height: 150px;
			max-width: 200px;
			padding: 10px;
		}
	}
	button {
		margin: 10px;
	}
	.form-input {
		width: 50%;
		padding: 15px 0;
		position: relative;
	}
	label {
		line-height: 30px;
	}

	input,
	textarea {
		display: block;
		width: 100%;
		height: 30px;
		border-radius: 10px;
		border: 1px solid $grey;
		padding: 5px 10px;
		resize: none;
		&:focus {
			outline: none;
		}
		// &:focus:invalid {
		// 	border: 2px solid rgb(243, 77, 77);
		// 	outline: none;
		// }
	}

	input[type="radio"] {
		width: 15px;
		height: 15px;
		display: inline;
	}

	textarea {
		text-align: top;
		height: 100px;
	}
	.not-validated {
		border: 2px solid rgb(243, 77, 77);
		outline: none;
	}

	.error-message {
		display: none;
		position: absolute;
		font-weight: bolder;
		left: 5px;
		bottom: -5px;
		color: red;
		font-size: 12px;
	}
	.displayed {
		display: block;
	}
}

h2 {
	font-size: 16px;
	line-height: 24px;
	font-weight: bolder;
	color: #336699;
}
p {
	font-size: 16px;
	line-height: 19px;
}
h5 {
	margin-top: 15px;
	font-size: 20px;
	line-height: 30px;
	font-weight: bolder;
	color: $orange;
}

.index-card {
	display: flex;
	position: relative;
	padding: 15px;
	border: 1px solid $grey;
	margin-top: -1px;
	.img-part {
		flex: 0 0 200px;
		img {
			width: 100%;
		}
	}
	.text-part {
		flex: 1;
		padding-left: 20px;
	}
	a {
		background-color: rgb(32, 32, 32);
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		&:hover {
			opacity: 0.05;
			cursor: pointer;
		}
	}
}

.flex-container {
	display: flex;
}

.main-infos {
	flex: 0 0 70%;
	padding: 15px;
	.undercard {
		margin-top: 30px;
		padding: 20px 0;
		border-top: 1px solid $grey;
		h4 {
			padding-bottom: 15px;
			font-size: 16px;
			line-height: 24px;
			font-weight: 700;
		}
	}
}

.right-side {
	flex: 1;
	padding: 25px;
	a {
		display: block;
		text-align: center;
		font-size: 20px;
		box-shadow: 3px 3px 3px rgb(180, 180, 180);
		width: 100%;
	}
	.red {
		background-color: rgb(177, 77, 64);
	}
}

.show-card {
	box-shadow: 3px 3px 3px rgb(180, 180, 180);
	.img-part {
		height: 430px;
		width: 790px;
		background: linear-gradient(
			0deg,
			rgb(68, 68, 68),
			rgb(235, 235, 235) 40%,
			rgb(235, 235, 235)
		);
		img {
			display: block;
			height: 100%;
			max-width: 100%;
			margin: 0 auto;
		}
	}
	.text-part {
		padding: 15px;
	}
}
