<% include partials/header.ejs %>

<form method="post" action="/change_ad/<%= id %>" enctype="multipart/form-data">
    <%- include("partials/form.ejs", { 
        title,
        description,
        price,
        city
    }); %>
    <%- include("partials/userForm.ejs", { 
        pseudo,
        mail,
        phone
    }); %>
    <button type="submit" class='btn'>Valider</button>
</form>

<% include partials/footer.ejs %>