<%- include("partials/header.ejs", {current_user: current_user})%>

<form method="post" action="/add_ad" enctype="multipart/form-data">
    <%- include("partials/form.ejs", { 
        title: '',
        description: '',
        price: 0,
        city: '',
        photo: null,
    }); %>
    <%- include("partials/userForm.ejs", { 
        pseudo: '',
        mail: '',
        phone: '',
    }); %>
    <button type="submit" class='btn'>Valider</button>
</form>

<% include partials/footer.ejs %>