body {
  font-family: "Open Sans", sans-serif; }

.btn {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.9;
  background: #399ee0;
  transition: background 0.3s ease; }

.btn:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  cursor: pointer; }

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 20px 0; }

a {
  text-decoration: none; }

header {
  background-color: #f56b2a;
  color: white; }
  header .container {
    padding: 0; }
  header a {
    display: inline-block;
    padding-right: 20px;
    color: white;
    line-height: 60px;
    font-weight: 700; }
    header a:hover {
      text-decoration: underline; }
    header a img {
      width: 140px; }
    header a.connexion {
      float: right;
      transition: 0.5s ease;
      padding-left: 20px;
      border-left: 1px solid white;
      border-right: 1px solid white; }
      header a.connexion:hover {
        background-color: white;
        color: #f56b2a;
        text-decoration: underline; }

form {
  font-size: 13px;
  line-height: 19px;
  width: 100%; }
  form section {
    margin-bottom: 50px;
    border: 1px solid #7e7e7e; }
  form h3 {
    background-color: #7e7e7e;
    font-weight: bolder;
    color: white;
    padding: 10px; }
  form .form-content {
    padding: 10px; }
    form .form-content img {
      display: block;
      max-height: 150px;
      max-width: 200px;
      padding: 10px; }
  form button {
    margin: 10px; }
  form .form-input {
    width: 50%;
    padding: 15px 0;
    position: relative; }
  form label {
    line-height: 30px; }
  form input,
  form textarea {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #7e7e7e;
    padding: 5px 10px;
    resize: none; }
    form input:focus,
    form textarea:focus {
      outline: none; }
  form input[type="radio"] {
    display: inline; }
  form textarea {
    text-align: top;
    height: 100px; }
  form .not-validated {
    border: 2px solid #f34d4d;
    outline: none; }
  form .error-message {
    display: none;
    position: absolute;
    font-weight: bolder;
    left: 5px;
    bottom: -5px;
    color: red;
    font-size: 12px; }
  form .displayed {
    display: block; }

h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bolder;
  color: #336699; }

p {
  font-size: 16px;
  line-height: 19px; }

h5 {
  margin-top: 15px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bolder;
  color: #f56b2a; }

.index-card {
  display: flex;
  position: relative;
  padding: 15px;
  border: 1px solid #7e7e7e;
  margin-top: -1px; }
  .index-card .img-part {
    flex: 0 0 200px; }
    .index-card .img-part img {
      width: 100%; }
  .index-card .text-part {
    flex: 1;
    padding-left: 20px; }
  .index-card a {
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    .index-card a:hover {
      opacity: 0.05;
      cursor: pointer; }

.flex-container {
  display: flex; }

.main-infos {
  flex: 0 0 70%;
  padding: 15px; }
  .main-infos .undercard {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #7e7e7e; }
    .main-infos .undercard h4 {
      padding-bottom: 15px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700; }

.right-side {
  flex: 1;
  padding: 25px; }
  .right-side a {
    display: block;
    text-align: center;
    font-size: 20px;
    box-shadow: 3px 3px 3px #b4b4b4;
    width: 100%; }
  .right-side .red {
    background-color: #b14d40; }

.show-card {
  box-shadow: 3px 3px 3px #b4b4b4; }
  .show-card .img-part {
    height: 430px;
    width: 790px;
    background: linear-gradient(0deg, #444444, #ebebeb 40%, #ebebeb); }
    .show-card .img-part img {
      display: block;
      height: 100%;
      max-width: 100%;
      margin: 0 auto; }
  .show-card .text-part {
    padding: 15px; }

/*# sourceMappingURL=main.css.map */
